.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 100%;
}

.form-check-input {
  margin-right: 1rem;
}

.subheader {
  color: hsl(231, 11%, 63%);
  margin-bottom: 0;
  font-size: 14px;
}

.header {
  font-size: 16px;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
  margin-bottom: 0;
}

.price {
  margin-bottom: 0;
  margin-left: auto;
}

.checkbox-container.checked {
  background-color: hsl(206, 94%, 87%);
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 14px;
  }
  .subheader {
    font-size: 12px;
  }
  .price {
    font-size: 14px;
  }
}
